<!DOCTYPE html>
<html ng-app="todo">
<head>
  <title><%=blocks.title%></title>

  <% style.push("/css/app.css") -%>

  <% script.unshift([
    "/vendor/bower_components/jquery/jquery.js",
    "/vendor/bower_components/bootstrap/dist/js/bootstrap.js"
  ]) -%>

  <%- style %>
  <%- script %>
</head>
<body>
<header>
  <%-blocks.header%>
</header>
<section class="container">

  <%-partial('../partials/topNavigation')%>

  <h1><%=blocks.title%></h1>

  <%-body -%>
</section>
<footer>
  <%-blocks.footer%>
</footer>
</body>
</html>